@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    padding: 0;
    margin: 0;
}

.Logoalign
{
    padding-left: 2em;

}

.LogoStyle
{
    display: inline;
    padding-right: 2em;
    font-family: 'Rubik', sans-serif;
    /* padding: 0 2em; */
}

.Navbardesign{
    display: flex;
    /* justify-content: space-evenly; */
    position: relative;
    /* position: fixed; */
    align-items: center;
    height: 70px;
    background-color:white;
    
    z-index: 20;
    box-sizing: border-box; 
    /* border-bottom:1px solid #1bbd36; */
}

.List_styling{
    display: flex;
    list-style: none;
    /* justify-content: space-around; */
    width: 75%;
}

.List_substyling:hover, .List_styling:active {
    color: #675ecb;
    background-color: aliceblue;
    /* border-bottom: 1px solid #1bbd36; */
}

.List_substyling{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 0 2em;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color: black;
    
}

@media (min-width:500px) and (max-width:800px) {
    .Navbardesign{
        flex-direction: column;
        align-items: center;
    }

    .List_styling{
        flex-direction: column;
        align-items: center;
        margin: 10;
    }
    
}